x-mysql-template: &mysql-template
  image: mysql:latest
  healthcheck:
    test: [ "CMD", "mysqladmin" ,"ping", "-h", "localhost" ]
    interval: 10s
    timeout: 10s
    retries: 3


# docker compose --env-file global.env -f docker-compose.prod.yaml up -d
name: service-payments-prod
services:

  reverse-proxy:
    image: nginx:latest
    container_name: reverse-proxy
    ports: [ "8080:8080" ]
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
    depends_on:
      service:
        condition: service_healthy

  service:
    build:
      context: .
      dockerfile: spring/Dockerfile
    hostname: payments-service
    container_name: service
    expose: [ "80" ]
    environment:
      SERVER_PORT: 80
      MYSQL_SERVER: ${PAYMENT_MYSQL_HOSTNAME:?error}
      MYSQL_ROOT_PASSWORD: ${PAYMENT_MYSQL_ROOT_PASSWORD:?error}
      MYSQL_DATABASE: ${PAYMENT_MYSQL_DATABASE:?error}
      MYSQL_USER: ${PAYMENT_MYSQL_USER:?error}
      MYSQL_PASSWORD: ${PAYMENT_MYSQL_PASSWORD:?error}
    healthcheck:
      test: [ "CMD", "wget", "--spider", "-q", "http://payments-service/actuator/health" ]
      interval: 10s
      timeout: 10s
      retries: 3
    depends_on:
      db:
        condition: service_healthy

  db:
    <<: *mysql-template
    hostname: payments-db
    container_name: db
    expose: [ "3306", "33060" ]
    environment:
      MYSQL_ROOT_PASSWORD: ${PAYMENT_MYSQL_ROOT_PASSWORD:?error}
      MYSQL_DATABASE: ${PAYMENT_MYSQL_DATABASE:?error}
      MYSQL_USER: ${PAYMENT_MYSQL_USER:?error}
      MYSQL_PASSWORD: ${PAYMENT_MYSQL_PASSWORD:?error}
