name: Run gradlew clean test on main

on:
  pull_request:
    branches:
      - main

jobs:
  build_test_and_coverage:
    runs-on: 'ubuntu-latest'
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: 'liberica'
          java-version: '21'
      - uses: actions/cache@v4
        with:
          path: ~/.gradle/caches
          key: gradle-${{ hashFiles('**/*gradle*') }}
          restore-keys: gradle-

      - name: Run gradlew clean test on main
        run: chmod +x gradlew &&  ./gradlew clean test
        working-directory: spring

      - name: Upload test coverage to Codecov.io
        uses: codecov/codecov-action@v4
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          slug: ${{ github.repository }}
          fail_ci_if_error: true
          verbose: true
          flags: 'integration'
